CompileFlags:
  CompilationDatabase: build/
  Add: [-I/home/allen/workspaces/transfer-queue/include, -I/home/allen/workspaces/transfer-queue/seastar/include, -I/home/allen/workspaces/transfer-queue/build/seastar/gen/include, -I/home/allen/workspaces/transfer-queue/build/seastar/gen/src, -std=c++23]
